---
import { gql, GraphQLClient } from "graphql-request";
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Image from "@components/Image.astro";
import Text from "@components/Text.astro";

const params = Astro.params;

const client = new GraphQLClient("https://graphql.datocms.com/", {
  headers: {
    "Content-Type": "application/json",
    Accept: "application/json",
    Authorization: `Bearer ${import.meta.env.DATOCMS_API_KEY}`,
  },
});

const gqlResponse = await client.request(
  gql`
    query Page($slug: String) {
      page(filter: { slug: { eq: $slug } }) {
        id
        title
        slug
        content {
          ... on ImageRecord {
            _modelApiKey
            image {
              url
              alt
            }
          }
          ... on TestimonialRecord {
            _modelApiKey
            quote
            attribution
          }
          ... on TextRecord {
            _modelApiKey
            heading
          }
        }
      }
    }
  `,
  { slug: params.slug }
);

export function getStaticPaths() {
  return [
    { params: { slug: "home" } },
    { params: { slug: "about" } },
    { params: { slug: "contact" } },
    { params: { slug: "testimonials" } },
  ];
}

const page = gqlResponse?.page;
if (!page) {
  const error = await fetch(`${Astro.url}/404`);

  return new Response(error.body, {
    headers: error.headers,
    status: 404,
    statusText: "Not Found",
  });
}
console.log(page);
---

<Layout title={page.title}>
  <Container>
    <h1>{page.title}</h1>
  </Container>
</Layout>
