---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "About",
    path: "#",
    children: [
      { title: "Our story & funders", path: "/about/our-story-and-funders" },
      { title: "Team & advisors", path: "/team-and-advisors" },
    ],
  },
  {
    title: "Text analyser",
    path: "#",
    children: [
      { title: "Overview of text analyser", path: "/text-analyser/overview" },
      {
        title: "Funders & partners",
        path: "/text-analyser/funders-and-partners",
      },
    ],
  },
  {
    title: "Services",
    path: "#",
    children: [
      { title: "Consultancy", path: "/services/consultancy" },
      { title: "Training", path: "/services/training" },
      { title: "Website audits", path: "/services/website-audits" },
      { title: "Document audits", path: "/services/document-audits" },
    ],
  },
  {
    title: "Testimonials",
    path: "/testimonials",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800">Other</span><span
            class="text-slate-500">words</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
