---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import Container from "@components/container.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <!-- twitter={{ -->
    <!--   creator: "@surjithctly", -->
    <!--   site: "@web3templates", -->
    <!--   card: "summary_large_image", -->
    <!-- }} -->
    <SEO
      title={title}
      description="Otherwords is... [TODO]"
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Otherwords`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Otherwords logo",
        },
      }}
    />
  </head>
  <body>
    <Navbar />

    <Container>
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
        <slot />
      </div>
    </Container>

    <Footer />

    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
